# Send builds to container-based infrastructure
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false
language: ruby
cache:
  bundler: true
  yarn: true
  directories:
  - node_modules
rvm:
  - 2.3
  - 2.4
  - 2.5
  - ruby-head
before_install:
# Need to install something extra to test JS
- yarn install
# Bundler 1.16.1 and rubygems 2.7.3 got issue
# https://github.com/travis-ci/travis-ci/issues/8978#issuecomment-354036443
- gem update --system
gemfile:
  - gemfiles/i18n_0_8.gemfile
  - gemfiles/i18n_0_9.gemfile
  - gemfiles/i18n_1_0.gemfile
  - gemfiles/i18n_1_1.gemfile
  - gemfiles/i18n_1_2.gemfile
  - gemfiles/i18n_1_3.gemfile
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
notifications:
  webhooks: https://www.travisbuddy.com/
  on_success: never
